<h1>You're in a group</h1>

<% messages.forEach(message => { %>
    <!-- lo ideal sería reutilizar el show de message, pero por ahora da lo mismo -->
    <p><%= message.text %></p>

    <ul>
        <% message.hashtags.forEach(hastag => { %>
        <li>
            <%= hashtag %>
        </li>
        <% }) %>
    </ul>

    <!-- Agregar form para comentar con field comment_text y action <%= addCommentPath(message) %> -->

<% }) %>