
<form method="POST" action="<%= createGroupPath %>">
    <label for="name">Nombre</label>
    <input type="text" placeholder="Nombre" name="name">
    <br>
    <label for="description">Descripción</label>
    <input type="text" placeholder="Descripción" name="description">
    <br>
    <input type="submit">
</form>
