<div>
  <!-- <List /> -->
  <div className="chatWindow">
    <p className="chatName">Chat</p>
    <div className="chatContent" />
    <div>
      <form action="<%= addCommentPath %>" method="post">
        <input type="text" placeholder="Type a message here..." name="body" id="body" />
        <input type="submit" value="SEND" />                
      </form>
    </div>
  </div>
</div>