<div id="react-app"></div>

<style>
#mainBar{
  float: left;
  width: 29%;
}
#groupView{
  float: right;
  width: 70%;
  height: 100%;
}

</style>



<div id="mainBar">
  <div>
    Search groups
    <br>
    Search Hashtags
  </div>
  <div>
    Groups
  </div>
  <div>
    People
  </div>
</div>
<iframe id="groupView">
</iframe>

