<div id="react-app"></div>
<div id="mainBar">
  <div>
  <form method="GET" action="<%//=searchGroupPath%>">
	Search for groups here
	<input style="width: 90%;" type="text" placeholder="Search here!"></input><input style="float:right; width: 90%" type="submit" value="go!"></input>
  </form>
  <br>
	Pertenezco a <%= groups.length %> grupos
	<br>
	<% groups.forEach( (group) => { %>		
		<br>
		<input type="button" onClick="changeSrc('/groups/<%= group.id %>')" value="<%= group.name%>"/>
        <% });%>
	<br>
      <input type="button" onclick="changeSrc('/groups/new')" value="Create one" /> 
    <br>
      <a>Search Hashtags</a>
  </div>
  <div>
  </div>
  <div>
    My People
  </div>
</div>
<iframe id="mainFrame">
</iframe>
</form>
