<div class="form_container"> 
    <h2>Login Form</h2>

    <form action="/session" enctype="multipart/form-data" method="post">
    <div class="imgcontainer">
        <img src="/assets/login.png" width="130" height="130">
    </div>

    <div class="form-group">
        <label for="uname"><b>Username</b></label>
        <input type="text" class="field" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" class="field" placeholder="Enter Password" name="password" required>
            
        <button type="submit" class="btn btn-primary" >Log in</button>
        <br>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <br>
        <br>
    </div>

    <span class="psw">Forgot <a href="#">password?</a></span>
    
    </form>
</div>
