<h1>
  Bienvenido a Sluck!
</h1>
<h2>
  Para hacer uso de Sluck, debes iniciar sesion o registrarte
</h2>
  <div>

<br>

<h2>Log In</h2>

<%= notice%>
<form class="single-form" action="<%= submitLoginPath %>" method="post">
    <label for="username">
     <strong> <span>Nombre de usuario</span></strong>
<br>
      <input type="text" name="username" placeholder="la_juanita_sanchez" id="username" value="<%= locals.username %>" />
    </label>
    <label for="password">
      <strong><span>Contrase침a</span></strong>
<br>
      <input type="password" name="password" placeholder="muy secreta" id="password" />
    </label>
    <div class="actions">
      <input type="submit" value="Inicia sesi칩n" />
    </div>
  </form>
</div>
<br>
<hr>
<br>
<div class="form_container form_center"> 
    <h2>Sign Up</h2>

    <form action="<%= submitSignupPath %>" method="post">

    <div class="form-group">
        <div class="field">
            <label for="username"><b>Nombre de usuario</b></label>
            <input type="text" class="form-control" placeholder="la_juanita_sanchez" name="username" required>
            <br>        
        </div>
        <div class="field">
                <label for="first_name"><b>Nombre</b></label>
                <input type="text" class="form-control" placeholder="Juanita" name="first_name" required>
                <br>
        </div>
        <div class="field">
                <label for="last_name"><b>Apellido</b></label>
                <input type="text" class="form-control" placeholder="S치nchez" name="last_name" required>
                <br>
        </div>
        <div class="field">
                <label for="email"><b>Email</b></label>
                <input type="email" class="form-control" placeholder="juanita@sanchez.cl" name="email" required>
                <br>
        </div>
        
        <div class="field">
                <label for="password"><b>Contrase침a</b></label>
                <input type="password" class="form-control" placeholder="muy secreta" name="password" required>
                <br>
        </div>
        
        <button type="submit" >Registrarse</button>
        <br>

        <br>
        <br>
    </div>
    </form>
</div>
