
<br>
<br>
<br>
<br>
<h3>
  Para hacer uso de Sluck, debes iniciar sesion o registrarte
</h3>
  <div>

<br>
<%= notice%>
<div class="form_container"> 
    
  <form action="<%= submitLoginPath %>"  class="form-div" method="post">
  <div class="imgcontainer">
      <img src="/assets/login.png" width="130" height="130">
  </div>

  <div>

      <div class="field">
          <label for="uname"><b>Usuario</b></label>
          <input type="text"  placeholder="Ingresar usuario" value="<%= locals.username %>" class="input-form-user" name="username" required>
          <br>
          <br>
          <label for="psw"><b>Contraseña </b></label>
          <input type="password" placeholder="Ingresar contraseña" class="input-form" name="password" required>
          <br>
          
      </div>
      <div class="center" >
      
          <input class="submit-form" type="submit" value="Iniciar Sesión">
          <br>
          <br>
          <label>
          
      </div>
      <span> <a href="/session/signup"> Registrarme</a></span>
      <br>
      <br>
  </div>
  </form>
</div>


