


<div class="form_container"> 
    <h2>Registrarse</h2>

    <form action="<%= submitSignupPath %>" class="form-div" method="post">

    <div class="form-group">
        <br>
        <br>
        <div class="field">
            <label for="username"><b>Nombre de usuario</b></label>
            <input type="text" class="signup-label" placeholder=" " name="username" required>
            <br>        
        </div>
        <div class="field">
                <label for="first_name"><b>Nombre</b></label>
                <input type="text"class="signup-label" placeholder="" name="first_name" required>
                <br>
        </div>
        <div class="field">
                <label for="last_name"><b>Apellido</b></label>
                <input type="text" class="signup-label" placeholder="" name="last_name" required>
                <br>
        </div>
        <div class="field">
                <label for="email"><b>Email</b></label>
                <input type="email" class="signup-label" placeholder="" name="email" required>
                <br>
        </div>
        
        <div class="field">
                <label for="password"><b>Contraseña</b></label>
                <input type="password" class="signup-label" placeholder="" name="password" required>
                <br>
        </div>
        <div class="center">
                <br>
                <br>
                <input class="submit-form" type="submit" value="Registrarse">
        </div>
       
        <br>
    </div>
    </form>
</div>
