<form >
        <div class="container">
          <h1>Registrarse</h1>
          <hr>
          <label for="username"><b>Email</b></label>
          <input type="text" placeholder="Enter username" name="username" required>
    
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
       
          <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
            <button type="button" class="cancelbtn">Cancel</button>
          </div>
        </div>
      </form>