<br>
<br>
<div class="form_container"> 
    <h2>SingUp</h2>

    <form >
    <div class="imgcontainer">
        <img src="/assets/login.png" width="130" height="130">
    </div>

    <div class="container_login">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label for="psw"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="r_psw" required>
            
        <button type="submit" >SignUp</button>
        <br>

        <br>
        <br>
    </div>
    </form>
</div>